.home {
  &__slider {
    min-width: 200px;
    display: flex;
    align-items: center;
    
    .slider__text {
      margin-inline-end: 1rem;
    }
  }

  &__table {
    .table {
      width: 100%;
    }
  }
}
